body{
  font-family: sans-serif;
}

.input{
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

form{
  width: 100vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}

input{
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.submit{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: green;
    color: white;
    margin-top: 10px;
}
