body {
  font-family: sans-serif;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  border: 1px solid rgb(180, 180, 180);
  max-width: 270px;
  padding: 0px 5px;
  line-height: 40px;
  background-color: rgb(225, 215, 215);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  position: relative;
}

form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

input {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.submit {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: green;
  color: white;
  cursor: pointer;
}

.add {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(245, 245, 245);
  background-color: rgb(0, 147, 201);
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.delete {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(201, 0, 0);
  color: white;
  cursor: pointer;
}

.close {
  position: absolute;
  top: -36px;
  right: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(201, 0, 0);
  color: white;
  cursor: pointer;
}

.errorMessage {
  color: red;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(129, 129, 129, 0.5);
  font-size: 0.6rem;
  font-weight: 900;
}


.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}